@import 'tailwindcss';

::selection {
  background-color: #111;
  color: #f4f4f4;
}

html {
  overflow-x: clip;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 430;
  background-color: #f4f4f4;
  color: #111;
}

a {
  text-underline-offset: 3px;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
