@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --bg: #f4f4f4;
  --fg: #111;
}

.dark {
  --bg: #111;
  --fg: #f4f4f4;
}

::selection {
  background-color: var(--fg);
  color: var(--bg);
}

html {
  overflow-x: clip;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  background-color: var(--bg);
  color: var(--fg);
}

a {
  text-underline-offset: 3px;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
